<div class="products">
						<div class="container">
							<div class="col-md-9 products-left">
								<h1>Products</h1>
								<!-- portfolio -->
					<div class="portfolio">
						<div class="portfolio-grids">
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic1.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Color</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic2.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Spare parts</h4>
										
									</div>
								</div>
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic3.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Damage parts</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic4.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Designer</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic5.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Number plates</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic7.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Fuel</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic6.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Engine</h4>
										
									</div>
								</div>								
							</div>
							<div class="col-md-4 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic8.jpg" title="name">
									<div class="portfolio-caption">
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#purchase">Buy Now</button>
										<h4>Gear problems</h4>
										
									</div>
								</div>								
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!-- portfoliogrids-caption
					<div class="portfoliogrids-caption text-center">
						<div class="container">
							<p>posuere ut turpis in, facilisis aliquet metus<a class="port-btn" href="#">Purchase Parts</a></p>
						</div>
					</div>
					portfoliogrids-caption -->
					<!-- portfolio -->
							</div>
							<div class="col-md-3 products-right">
								<!-- recent-news -->
									<div class="recent-posts products-right-posts">
										<h2>Recent-posts</h2>
										<!-- recent-post-grids -->
											<div class="recent-post-grids">
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="../assets/images/people-pic.jpg" title="name" /></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="../assets/images/people-pic1.jpg" title="name" /></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="../assets/images/people-pic3.jpg" title="name" /></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
													<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="../assets/images/people-pic3.jpg" title="name" /></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												
											</div>
										<!-- recent-post-grids -->
									</div>
									<!-- recent-news -->
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>

					<div id="purchase" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>