<div class="about">
						<div class="container">
							<div class="about-grids">
								<div class="col-md-9 about-left">
									<h1>About us</h1>
									<p>Main attention of this website to provide extreme services of maintenance of four wheelers. Four wheelers are maintaining promising role in most of user’s life. So which must be one of the daily wages of human in nowadays carrying some of the problems? In the way of travelling when he would face situation of trouble in the four wheelers he looks for the help. It could reach very clear and fast. From this app/website we provide best services and maintenance either.</p>
									<!-- top-grids -->
					<div class="top-grids">
						<div class="">
						<div class="top-grids-head">
							<h1>Our Features</h1>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus. Sed efficitur cursus nibh</p>
						</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons1"> </span>
									</div>
									<div class="grid-info">
										<h3>Service</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons2"> </span>
									</div>
									<div class="grid-info">
										<h3>Maintenance</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons5"> </span>
									</div>
									<div class="grid-info">
										<h3>Delivery</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
					</div>
					<!-- top-grids -->
								</div>
								<div class="col-md-3 about-left">
									<!-- <h2>Latest News</h2>
									news-grid
									<div class="news-grid">
										<img src="images/pic1.jpg" title="name" />
									</div> -->
									<!-- news-grid -->
									<!-- recent-news -->
									<div class="recent-posts">
										<h2>Quick Services</h2>
										<!-- recent-post-grids -->
											<div class="recent-post-grids">
												<div class="r-post-grid">
													<!-- <div class="r-post-grid-left">
														<a href="#"><img src="images/people-pic.jpg" title="name" /></a>
													</div> -->
													<div class="r-post-grid-right">
														<h4>Pit Stop Service</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<!-- <div class="r-post-grid-left">
														<a href="#"><img src="images/people-pic1.jpg" title="name" /></a>
													</div> -->
													<div class="r-post-grid-right">
														<h4>Purchase Parts</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<!-- <div class="r-post-grid-left">
														<a href="#"><img src="images/people-pic3.jpg" title="name" /></a>
													</div> -->
													<div class="r-post-grid-right">
														<h4>GPS Tracking</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
											</div>
										<!-- recent-post-grids -->
									</div>
									<!-- recent-news -->
								</div>
							</div>
						</div>
					</div>

          <div class="team about-team">
						<div class="container">
							<div class="team-head text-center">
								<h3>Our team</h3>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
							</div>
							<!-- team-grids -->
							<div class="team-grids">
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic1.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic3.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>

          <div class="team-grids-caption about-team-grids-caption">
								<div class="container">
									<div class="team-grids-caption-left">
										<h4>He point of using Lorem Ipsum is that</h4>
										
										
									</div>
									<div class="team-grids-caption-right">
										<a class="team-btn" href="#">ReadMore</a>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>