<div id="LoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">×</button>
					        <h4 class="modal-title">Login</h4>
					      </div>
					      <div class="modal-body login-register">
					        <div class="col-md-6 col-xs-12">
					        	<div class="userLogin collapsed" align="center" data-toggle="collapse" data-target="#demo" style="display: block;" aria-expanded="false">
					        	<i class="fa fa-user" aria-hidden="true"></i><br>
					        	<span>User Login</span>
					        	</div>
					        	<div id="demo1" class="col-md-12 collapse" aria-expanded="false" style="height: 0px;">
								<form action="#" method="post" align="center">
									<input type="text" class="email" name="name" placeholder="Username" required="">
									<input type="text" class="email" name="name" placeholder="Email" required="">
									<input type="text" class="password" name="password" placeholder="Password" required="">
								</form>
								</div>
					        </div>
					        <div class="col-md-6 col-xs-12">
					        	<div class="adminLogin collapsed" align="center" data-toggle="collapse" data-target="#demo1" aria-expanded="false" style="display: block;">
					        	<i class="fa fa-user-secret" aria-hidden="true"></i><br>
					        	<span>SERVICE PROVIDER</span>
					        	</div>
					        	<div id="demo" class="col-md-12 collapse" aria-expanded="false" style="height: 0px;">
									<form action="#" method="post" align="center">
									<input type="text" class="email" name="name" placeholder="Username" required="">
									<input type="text" class="password" name="password" placeholder="Password" required="">
									
								</form>
								</div>
					        </div>					        
					      </div>
					      <div class="modal-footer">
					      	<!-- <p>Browse through our website</p> -->
					      	<a class="btn-login" href="#" style="display: none;">Login</a>
					      	<a class="btn-register" href="#" style="display: none;">Login</a>
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>

  </div>
</div>


