<!-- container -->
		<!-- header -->
<div class="header navbar-fixed-top">
			<div class="header-top">
				<div class="container">
				<div class="top-left text-muted">
					<div class="top-menu-item login" data-toggle="modal" data-target="#LoginModal">
						<i class="fa fa-sign-in" aria-hidden="true"></i><span>Login</span>
					</div>
					<div class="top-menu-item register" data-toggle="modal" data-target="#RegisterModal">
						<i class="fa fa-user-plus" aria-hidden="true"></i><span>Register</span>
					</div>
				</div>
			
				<div class="top-right text-muted">
					<div class="top-menu-item report">
						<i class="fa fa-paper-plane" aria-hidden="true"></i><span>Report</span>
					</div>
					<div class="top-menu-item callus">
						<i class="fa fa-phone" aria-hidden="true"></i><span>Call Us</span>
					</div>		
				</div>
				</div>		
			</div>
			<div class="container">
				<!-- logo -->
				<div class="logo">
					<a [routerLink]="['/home']">CAR <span>SERVICE</span></a>
				</div>
				<!-- /logo -->
				<!-- top-nav -->
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li class="active"><a [routerLink]="['/home']">Home</a></li>
						<li><a [routerLink]="['/about']">About</a></li>
						<li><a [routerLink]="['/services']">Services</a></li>
						<li><a [routerLink]="['/purchaseparts']">Purchase Parts</a></li>
						<li><a [routerLink]="['/help']">Help</a></li>
						<li><a [routerLink]="['/contact']">Contact</a></li>
						<li><a href="contact.php">Search Centers</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<!-- script-for-nav -->
				<script>
					$(document).ready(function(){
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(1000);
						});
					});
				</script>
				<!-- script-for-nav -->
				<!-- /top-nav -->
				<div class="clearfix"> </div>
			</div>
			<!-- /header -->
		</div>

			<!--stickyService-->
			<app-pickdropfrom></app-pickdropfrom>
			<!--stickyService-->

 <router-outlet></router-outlet>

<div class="footer">
						<div class="container">
							<div class="footer-grids">
								<div class="col-md-3">
									<div class="footer-grid">
										<h5>About CarWash</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, urna a aliquam rhoncus,</p>
										<p> Ut ultrices diam enim, eget consectetur elit iaculis eu</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-grid f-blog">
										<h5>Form the Blog</h5>
										<div class="f-blog-artical">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>March 20,2014</span>
										</div>
										<div class="f-blog-artical f-blog-artical1">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<span>March 20,2014</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-grid site-map">
										<h5>Site Map</h5>
										<ul>
											<li><a href="index.html"><span> </span>Home</a></li>
											<li><a href="about.html"><span> </span>About</a></li>
											<li><a href="services.html"><span> </span>Services</a></li>
											<li><a href="products.html"><span> </span>Products</a></li>
											<li><a href="contact.html"><span> </span>Contact</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-grid f-gallery">
										<h5>Form the Gallery</h5>
										<div class="f-gallery-grids">
											<div class="f-gallery-grid">
												<ul>
													<li><a href="#"><img src="../assets/images/people-pic.jpg" title="name"></a></li>
													<li><a href="#"><img src="../assets/images/people-pic1.jpg" title="name"></a></li>
													<li><a href="#"><img src="../assets/images/people-pic4.jpg" title="name"></a></li>
													<li><a href="#"><img src="../assets/images/people-pic3.jpg" title="name"></a></li>
													<li><a href="#"><img src="../assets/images/people-pic4.jpg" title="name"></a></li>
													<li><a href="#"><img src="../assets/images/people-pic1.jpg" title="name"></a></li>
													<div class="clearfix"> 
												</div></ul>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
 <div class="footer-bottom">
						<div class="container">
							<div class="footer-bottom-left">
								<p>Copyright © 2017 Car Service. All Rights Reserved<a href="http://www.axattechnologies.com/" target="_blank"><img src="../assets/images/axat.png" class="foot-axat"></a></p>
							</div>
							<div class="footer-bottom-right">
								<ul>
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google+</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>

      	<app-login></app-login>
		<app-registration></app-registration>