<div class="container">
				<div class="pickDropSticky">
					<button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2" id="pickDropmodal">
						Pick / Drop
					</button>
				</div>
				<!-- Modal -->
				  <!-- Modal -->
					<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel2">Make An Appointment</h4>
								</div>

								<div class="modal-body">
									<form action="#" method="post" align="center">
										<input type="text" name="from" placeholder="From" required="">
										<input type="text" name="to" placeholder="Destination" required="">
										<input type="text" name="type" placeholder="Choose vehicle" required="">
										<input type="submit" name="submit" value="Submit">
									</form>
								</div>

							</div><!-- modal-content -->
						</div><!-- modal-dialog -->
					</div><!-- modal -->
				</div>