<div class="benner">
				<!-- slider -->
				<!--- img-slider --->
				<div class="img-slider">
						<!----start-slider-script---->
					<script src="../assets/js/responsiveslides.min.js"></script>
					 <script>
					    // You can also use "$(window).load(function() {"
					    $(function () {
					      // Slideshow 4
					      $("#slider4").responsiveSlides({
					        auto: true,
					        pager: true,
					        nav: true,
					        speed: 500,
					        namespace: "callbacks",
					        before: function () {
					          $('.events').append("<li>before event fired.</li>");
					        },
					        after: function () {
					          $('.events').append("<li>after event fired.</li>");
					        }
					      });
					
					    });
					  </script>
					<!----//End-slider-script---->
					<!-- Slideshow 4 -->
					    <div  id="top" class="callbacks_container">
					      <ul class="rslides" id="slider4">
					        <li>
					          <img class="img-responsive" src="../assets/images/slide1.jpg" alt="">
					          <div class="slider-caption">
					          	<h1>the<span>Car</span> Wash CENTER</h1>
					         	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
					          </div>
					        </li>
					        <li>
					          <img src="../assets/images/slide1.jpg" alt="">
					           <div class="slider-caption">
					          	<h1>the<span>Car</span> Care CENTER</h1>
					          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
					          </div>
					        </li>
					        <li>
					          <img src="../assets/images/slide1.jpg" alt="">
					           <div class="slider-caption">
					           	<h1>the<span>Car</span> Wash CENTER</h1>
					           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
					          </div>
					        </li>
					      </ul>
					    </div>
					    <div class="clearfix"> </div>
					</div>
          <div class="portfoliogrids-caption text-center">
						<div class="container">
							<p>posuere ut turpis in, facilisis aliquet metus<a class="port-btn" href="#">Book Now</a></p>
						</div>
					</div>
          <div class="top-grids">
						<div class="container">
						<div class="top-grids-head text-center">
							<h2>Our Features</h2>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus. Sed efficitur cursus nibh</p>
						</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons1"> </span>
									</div>
									<div class="grid-info">
										<h3>Service</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons2"> </span>
									</div>
									<div class="grid-info">
										<h3>Maintenance</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons5"> </span>
									</div>
									<div class="grid-info">
										<h3>Delivery</h3>
										<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
					</div>

          <div class="middle-grids">
						<div class="middle-top-grid">
							<div class="col-md-6 bg-gray">
								<div class="top-grid">
									<div class="grid-info">
										<h3>Service</h3>
										<form action="#" method="post" align="center">
											<input type="text" class="email" name="name" placeholder="Repair Your Car" required="">
											<input type="" class="" name="image" placeholder="Upload Damage Image" required="">
											<select class="form-control option-w3ls">
												<option>Share Your Problem</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
											</select>
											<select class="form-control option-w3ls">
												<option>Location</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
											</select>	
											<select class="form-control option-w3ls">
												<option>Name Of Your Car</option>
												<option>By Road</option>
												<option>By Water</option>
												<option>By Train</option>
											</select>
											<input type="text" class="email" name="name" placeholder="Registered Username" required="" style="padding: 5px;border-radius: 5px;padding-left: 15px;">
											<a class="port-btn" href="#">Get Started</a>  	
										</form>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-6 bg-red">
								<div class="top-grid">
									<div class="grid-info">
										<h3>Pit Stop Service</h3>
										<form action="#" method="post" align="center">
											<select class="form-control option-w3ls">
												<option>Nearest Location</option>
												<option>Albania</option>
												<option>Belgium</option>
												<option>Cameroon</option>
												<option>Dominica</option>
												<option>France</option>
												<option>Jersey</option>
											</select>
											<select class="form-control option-w3ls">
												<option>Service Type</option>
												<option>Colombia</option>
												<option>Indonesia</option>
												<option>Japan</option>
												<option>Lebanon</option>
												<option>Luxembourg</option>
												<option>Montserrat</option>
											</select>	
											<select class="form-control option-w3ls">
												<option>Name Of Your Car</option>
												<option>By Road</option>
												<option>By Water</option>
												<option>By Train</option>
											</select>
											<input type="text" class="email" name="name" placeholder="Registered Username" required="" style="padding: 5px;border-radius: 5px;padding-left: 15px;">
											<a class="port-btn" href="#">Get Started</a>  	
										</form>
										<!-- <div class="grid-info-list">
										<ul>
											<li>Genuine parts , checking status</li>
											<li>Online support</li>
											<li>Road side service</li>
											<li>Service center offer</li>
											<li>Location and problem</li>
										</ul>
										<ul>
											<li>Distance of approaching</li>
											<li>Pick and drop</li>
											<li>Booking vehicle</li>
											<li>Video visualization of checking</li>
										</ul>
										</div> -->
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="middle-bottom-grid">
							<div class="col-md-6 bg-red">
							<div class="bg-red-overlay"></div>
								<div class="top-grid">
									<div class="grid-info">
										<h3>Showroom Service</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-6 bg-gray">
							<div class="bg-gray-overlay"></div>
								<div class="top-grid">
									<div class="grid-info">
										<h3>Mechanic Shops</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						</div>

            <div class="top-grids ServiceList">
						<div class="container">
						<div class="top-grids-head text-center">
							<h2>Our Services</h2>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus. Sed efficitur cursus nibh</p>
						</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons1"> </span>
									</div>
									<div class="grid-info">
										<h3>Genuine parts , checking status</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons2"> </span>
									</div>
									<div class="grid-info">
										<h3>Online support</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons3"> </span>
									</div>
									<div class="grid-info">
										<h3>Road side service</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons4"> </span>
									</div>
									<div class="grid-info">
										<h3>Service center offer</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons5"> </span>
									</div>
									<div class="grid-info">
										<h3>Location and problem</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons6"> </span>
									</div>
									<div class="grid-info">
										<h3>Distance of approaching</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons6"> </span>
									</div>
									<div class="grid-info">
										<h3>Pick and drop</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons6"> </span>
									</div>
									<div class="grid-info">
										<h3>Booking vehicle</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="top-grid">
									<div class="grid-icon">
										<span class="icons6"> </span>
									</div>
									<div class="grid-info">
										<h3>Video visualization of checking</h3>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>

          <div class="portfolio">
						<div class="portfolio-grids">
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic1.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Color</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic2.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Spare parts</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic3.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Damage parts</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic4.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Designer</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic5.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Number plates</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic7.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Fuel</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic6.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Engine</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="col-md-3 portfolio-grid">
								<div class="portfolio-pic">
									<img class="img-responsive" src="../assets/images/pic8.jpg" title="name">
								</div>
								<div class="portfolio-caption">
									<a href="#"><span class="link"> </span></a>
									<h4>Gear problems</h4>
									<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>

          <div class="portfoliogrids-caption text-center">
						<div class="container">
							<p>posuere ut turpis in, facilisis aliquet metus<a class="port-btn" href="#">Purchase Parts</a></p>
						</div>
					</div>

          <div class="team">
						<div class="container">
							<div class="team-head text-center">
								<h3>Our team</h3>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
							</div>
							<!-- team-grids -->
							<div class="team-grids">
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic1.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="../assets/images/people-pic3.jpg" title="name" />
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>

          <div class="team-grids-caption gps-title text-center">
								<div class="container">
									<h4>Find us through GPS Tracking<a class="port-btn" href="#">Locate Us</a></h4>
									<div class="clearfix"> </div>
								</div>
							</div>

              <div class="gps">
							<div class="">
							<!-- <div class="team-head text-center">
								<h3>Locate Us</h3>
								<p>Find us through GPS Tracking</p>
							</div> -->					
							<div class="w3ls_map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.958900464012!2d36.23097800000001!3d49.993379999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f009ab9f07%3A0xa21e10f67fa29ce!2sGeorgia+Education+Center!5e0!3m2!1sen!2sin!4v1436943860334" style="border:0; width: 100%; height:300px"></iframe>
							</div>
							</div>
						</div>